VITE_API_URL=https://octodrop-platform-api.fly.dev
VITE_SUPABASE_URL=https://tjgbrpnzwgloczszjnbt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRqZ2JycG56d2dsb2N6c3pqbmJ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExNzA3OTksImV4cCI6MjA4Njc0Njc5OX0._jGsK8mr0-IZzYfAsDuhdIldfp9AKJ1hkN5a3nCFBe4
VITE_WORKSPACE_ID=64de295e-767e-453e-9cb7-010f6d503e4a

//VITE_API_URL=http://localhost:8000
